# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\xelli\iCloudDrive\Documents\University\City\IN1007 - Programming in Java\Term 2\Java Project\Wills Game FINAL\Wills Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
